.Second_Vh {
  height: 100vh;
  overflow: hidden;
  color: white;
  position: relative;
  margin-bottom: 40vh;
  /* background-color: #161c24; */
  z-index: -1;
}
.Second_Vh .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  padding-top: 5%;
  /* gap: 10%; */
}
.Second_Vh > .intro > h1 {
  font-size: 3rem;
  width: 30%;
  text-align: center;
}
.Second_Vh > .cardIntro {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 2%;
  font-weight: 600;
}
.Second_Vh .cardIntro div {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 16px;
}
.Second_Vh .cardIntro div h3 {
  margin-bottom: 5%;
  margin-top: 5%;
}
.Second_Vh .intro p {
  font-weight: 800;
  font-size: 0.7rem;
}
.Second_Vh .cardIntro div p,
.Second_Vh .intro p {
  color: #d2d3d4;
}
.Second_Vh .cardIntro .secondCard {
  box-shadow: rgba(0, 0, 0, 0.11) -8px -8px 12px 0px,
    rgba(0, 0, 0, 0.733) 0px 12px 24px -4px;
}
